body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(221, 240, 137);
    color: rgb(0, 0, 0);
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    background: rgb(rgb(83, 66, 66), rgb(73, 99, 73), rgb(93, 93, 207));
    color: whitesmoke;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 15px;
}
.nav-links a{
    color: rosybrown;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}
.nav-links a:hover{
    background: rgb(46, 115, 136);
}
.hero{
    text-align: center;
    padding: 10px 20px;
    background: linear-gradient(to bottom right, green, yellow);
    color: whitesmoke;
}
.hero.btn{
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: whitesmoke;
    border-radius: 5px;
    transition: background 0.3s;
}
.hero.btn:hover{
    background: cyan;
}
.about{
    padding: 50px 20px;
    text-align: center;
}
.about img{
    max-width: 150px;
    border-radius:50% ;
    margin-top: 20px;
}
.skills{
    padding:50px 20px;
    background: whitesmoke;
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap:wrap ;
}
.skills-card{
    background: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s;
}
.skills-card i{
    font-size: 2em;
    margin-bottom: 10px;
    color: royalblue;
}
.skills-card:hover{
    transform: scale(1.1);
}
.projects{
    padding: 50px 20px;
    text-align: center;
    background: yellowgreen;
}
.project.card{
    background: whitesmoke;
    border: 1px solid wheat;
    padding: 20px;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 400px;
}
.projects-card.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: forestgreen;
    color: wheat;
    border-radius:5px ;
    transition: background 0.3s;
}
.project-card .btn:hover{
    background: greenyellow;
}
.contact{
    padding: 50px 20px;
    text-align: center;
}
.contact form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: colum;
    gap: 15px;
}
.contact input, .contact textarea{
    padding: 10px;
    border: 1px solid bisque;
    border-radius: 5px;
     width: 100%;
}
.contact button{
    padding: 10px;
    background: yellowgreen;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.contact button:hover{
    background: greenyellow;
}
footer{
    background: grey;
    color: wheat;
    padding: 20px;
    text-align: center;
}
footer .social-icons a{
    color: wheat;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}
footer .social-icons a:hover{
    color: greenyellow;
}